
.form-input {
    width: 25%;
    height: 20px;
    border:1px solid #dcdcdc;
    font-family: monospace;
    font-size: 15px;
    color: #797979;
    padding: 5px;
}
.form-input:focus {
    outline: none;
    border-color: #797979;
    color: #797979;
}
::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #797979;
}
:-moz-placeholder { /* Firefox 18- */
    color: #797979;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #797979;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #797979;
}
::-ms-input-placeholder { /* Edge */
    color: #797979;
}
.has-success {
    border: 1px solid #4cae4c ;
    color: #5cb85c;
}
.has-error {
    border: 1px solid #d43f3a;
    color: #d9534f;
}
#ip_success { 
	color: #5cb85c; 
}
#ip_error{ 
	color: #d9534f; 
}