﻿@model IEnumerable<AdminCallCenter.DataBase.Client>
@*@model AdminCallCenter.Class.DataResult*@

@{
    ViewBag.Title = "Administración de Información de Clientes";
}

<h2>Administración de Información de Clientes</h2>

<div style="display:none;">

    @*<input id="AverageAge" value="" />
        <input id="CountAge20" value="" />
        <input id="CountAge50" value="" />*@

</div>

<p>
    @Html.ActionLink("Crear Cliente", "Create")
</p>
<table class="table">

    <tr>

        <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City1.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType1.Description)
            </th>

        @*<th>
            @Html.DisplayNameFor(model => model.clients.Document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clients.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType1.Description)
        </th>*@

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City1.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType1.Description)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Edit", new { id = item.Id_Client }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.Id_Client }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Client })
            </td>
        </tr>
    }

</table>

@*<div class="form-horizontal">

    <div class="row">

        <div class="col-md-12 input-group">
            <div class="form-group">
                <label class="col-md-4 control-label">Promedio Edad:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="AverageAge" />
                </div>
            </div>
        </div>

    </div>

</div>*@
