﻿body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}

.form-horizontal .control-label {
    text-align: center !important;
}

.lastForm{
    margin-bottom: 1% !important;
}



/*select{
        border-radius: 4px !important;
}*/

.form-control{
    border-radius: 4px !important;
}

/*.myInput{
    float: right !important;
}*/

.inputCustom{

}

#spanActive {
    background-color: white;
    border: 1px solid #cccccc;
}

.classChk {
    padding-top: 0.2%;
}

.mInput {
    padding-bottom: 2%;
}

#message {
    max-width: 1270px !important;
}

.spnCustom {
    white-space: normal !important;
    box-sizing: content-box;
    word-break: break-word;
    min-width: 200px;

    height: 5em;
}

.inputCustom {
    resize: none !important;
    height: auto;
}

.input-group[class*=col-] {
    float: left !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.mBorder{
    border: 1px solid #ccc;
}

/*****************************/

.mb-3 {
    margin-bottom: 1rem !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


/*div {
    display: block;
}*/




.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}



.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}



.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.text-muted {
    color: #868e96 !important;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}


[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


/*Custom Styles*/
.addTag{
    padding-top: 0px !important;
}
