﻿.datatable-col-width{
    min-width:90px;
}
/*begin Simple messaging alerts CSS*/
.top-alert {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100000;
  left: 0;
  padding: 20px;
  display: inline-block;
  text-align: center;
}
.top-alert .alert {
  width: auto !important;
  height: 100%;
  display: inline;
  position: relative;
  margin: 0;
}
.top-alert .alert .close {
  position: absolute;
  top: 11px;
  right: 10px;
  color: inherit;
}
/*end Simple messaging alerts CSS*/

/*Bootstrap 3*/
@media screen and (min-width: 768px) {
    .custom-class {
        width: 80%;
    }
}