﻿
@{
    ViewBag.Title = "ClientsFilter";

    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
}

<style>
    .myInfo {
        width: 100% !important;
    }
</style>

<div class="form-group">
    <h3 class="text-primary"><span>Lista de Clientes</span></h3>
</div>


<div id="inputHiddens" style="display:none;">
    <input type="text" id="columns" />
    @*<input type="text" id="loginUser" value="@Model.loginUser" />*@
</div>

<div class="modal">
</div>



<div id="grdClientList">

</div>

<div class="form-horizontal">

    <div class="row">

        <div class="col-md-6 input-group">
            <div class="form-group">
                <label class="col-md-3 control-label">Promedio Edad:</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="AverageAge" disabled="disabled"/>
                </div>
            </div>
        </div>

        <div class="col-md-8 input-group">
            <div class="form-group">
                <label class="col-md-6 control-label">Personas menores de 20 años de edad:</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="CountAge20" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="col-md-8 input-group">
            <div class="form-group">
                <label class="col-md-6 control-label">Personas mayores de 50 años de edad:</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="CountAge50" disabled="disabled" />
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/js/ClientList.js"></script>

