﻿@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@

@{
    string usuario = "";
    string loginname = "";
    string usermenus = "";
    string userIpAddress = this.Request.UserHostAddress;

    if (AdminCallCenter.Helpers.IdentityHelper.CurrentUser.IsAuthenticated)
    {
        usuario = AdminCallCenter.Helpers.IdentityHelper.CurrentUser.FullName;
        loginname = AdminCallCenter.Helpers.IdentityHelper.CurrentUser.Name;
        //if (Session["USRMENUS"] == null)
        //{
        //    AdminCallCenter.Security.Users objMenus = new AdminCallCenter.Security.Users();
        //}
        //usermenus = Session["USRMENUS"].ToString();
    }
    else
    {
        Response.Redirect("~/Account/Logout/", true);
        usermenus = string.Empty;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9; IE=9; IE=EmulateIE10; IE=10; IE=EmulateIE11; IE=11; IE=edge" />

    <title>Administración Plantilla</title>

    @*<link rel="stylesheet" href="~/css/datatables-custom.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/theme_styles.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/select2.min.css" />


    <link rel="stylesheet" href="~/Content/select2.min.css">
    <link rel="stylesheet" href="~/Content/select2-bootstrap.css">
    <link rel="stylesheet" href="~/css/nifty-component.css">
    <link rel="stylesheet" href="~/css/ip-validation.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="~/Content/treeview.css" />
    <link rel="stylesheet" href="~/Content/datepicker.css" />



    <style>
        .widthFix {
            width: 100% !important;
        }
    </style>



    <!--DataTables Plantilla Ricardo-->
    @*<link rel="stylesheet" href="~/css/jquery.dataTables.min.css">
        <link href="~/Content/css/autoFill.dataTables.min.css" rel="stylesheet" />
        <link href="~/DTBootstrap/pluginsGridView/AutoFill-2.2.0/css/autoFill.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/css/buttons.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/css/responsive.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/css/scroller.dataTables.min.css" rel="stylesheet" />
        <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/responsive.bootstrap.min.css" rel="stylesheet" />*@
    <!--DataTables-->
    <!--DataTables Styles Plantilla Jose-->
    <link href="~/DTBootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/DTBootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/DTBootstrap/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/DTBootstrap/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/DTBootstrap/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/DTBootstrap/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/DTBootstrap/css/theme_styles.css" rel="stylesheet" />
    <link href="~/DTBootstrap/css/mStyles.css" rel="stylesheet" />
    <!--DataTables-->


    <link type="image/x-icon" href="~/favicon.ico" rel="shortcut icon" />
    <!-- google font libraries -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- global scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    <!--DataTables Plantilla Ricardo-->
    @*<script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
        <script src="~/Scripts/dataTables.fixedHeader.min.js"></script>
        <script src="~/Scripts/dataTables.responsive.min.js"></script>
        <script src="~/Scripts/responsive.bootstrap.min.js"></script>

        <script src="~/Scripts/dataTables.buttons.min.js"></script>
        <script src="~/Scripts/buttons.bootstrap.min.js"></script>
        <script src="~/Scripts/fnReloadAjax.js"></script>
        <script src="~/Scripts/dataTables.autoFill.min.js"></script>
        <script src="~/Scripts/dataTables.fixedColumns.min.js"></script>

        <script src="~/Scripts/dataTables.scroller.min.js"></script>
        <script src="~/Scripts/dataTables.config.js"></script>
        <script src="~/Scripts/buttons.flash.min.js"></script>
        <script src="~/Scripts/jszip.min.js"></script>
        <script src="~/Scripts/pdfmake.min.js"></script>
        <script src="~/Scripts/vfs_fonts.js"></script>
        <script src="~/Scripts/buttons.html5.min.js"></script>
        <script src="~/Scripts/buttons.print.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

        <script src="~/DTBootstrap/js/buttons.colVis.min.js"></script>*@
    <!--DataTables-->
    <!--DataTables Scripts Plantilla Jose-->
    <script src="~/DTBootstrap/js/jquery-1.12.4.js"></script>
    <script src="~/DTBootstrap/js/jquery.dataTables.min.js"></script>
    <script src="~/DTBootstrap/js/dataTables.bootstrap.min.js"></script>
    <script src="~/DTBootstrap/js/dataTables.buttons.min.js"></script>
    <script src="~/DTBootstrap/js/buttons.bootstrap.min.js"></script>
    <script src="~/DTBootstrap/js/jszip.min.js"></script>
    <script src="~/DTBootstrap/js/vfs_fonts.js"></script>
    <script src="~/DTBootstrap/js/buttons.html5.min.js"></script>
    <script src="~/DTBootstrap/js/buttons.print.min.js"></script>
    <script src="~/DTBootstrap/js/buttons.colVis.min.js"></script>
    <script src="~/DTBootstrap/js/dataTables.colResize.js"></script>

    <script src="~/DTBootstrap/js/dataTables.responsive.min.js"></script>
    <script src="~/DTBootstrap/js/responsive.bootstrap.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--DataTables-->


    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/datetime-moment.js"></script>
    <script src="~/Scripts/Moment-Locale/es.js"></script>

    <script src="~/Scripts/demo.js"></script>
    <script src="~/Scripts/jquery.nanoscroller.min.js"></script>
    <!-- this page specific scripts -->
    <script src="~/Scripts/select2.min.js"></script>
    @*<script src="~/Scripts/modernizr.custom.js"></script>*@
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/modalEffects.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <!-- theme scripts -->
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/pace.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap-show-password.min.js"></script>
    <script src="~/Scripts/treeview.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/civem.js"></script>

    <!-- this page specific inline scripts -->
    @RenderSection("scripts", required: false)

</head>
<body class="theme-blue fixed-header fixed-footer  pace-running pace-done">
    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container">
                <a href="../Home/Index" id="logo" class="navbar-brand">
                    <img src="~/Img/Teleperformance.svg" alt="" class="normal-logo logo-white" />
                    <img src="~/Img/Teleperformance.svg" alt="" class="normal-logo logo-black" />
                    <img src="~/img/Icon.png" alt="" class="small-logo hidden-xs hidden-sm hidden" />
                </a>
                <div class="clearfix">
                    <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>

                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a class="btn" id="make-small-nav">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-no-collapse pull-right" id="header-nav">
                            <ul class="nav navbar-nav pull-right">

                                @*<li class="mobile-search">
                                    <a class="btn">
                                        <i class="fa fa-filter"></i>
                                    </a>

                                    <div class="drowdown-search">
                                        <form role="search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="txtsearch" placeholder="Filtrar...">
                                                <i class="fa fa-filter nav-search-icon"></i>
                                            </div>
                                        </form>
                                    </div>
                                </li>*@

                                <li class="dropdown profile-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="~/Img/Icon.png" alt="" />
                                        <span class="hidden-xs">@usuario</span> <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a><i class="fa fa-user"></i>@loginname</a></li>
                                        <li><a><i class="fa fa-envelope-o"></i>@usuario</a></li>
                                        <li><a><i class="fa fa-cog"></i>IP origen @userIpAddress</a></li>
                                        <li><a onclick="document.location.href = $.url('Account/Logout/')" href="#"><i class="fa fa-power-off"></i>Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                                <li class="hidden-xxs">
                                    <a onclick="document.location.href = $.url('Account/Logout/')" href="#" class="btn" title="Cerrar Sesión">
                                        <i class="fa fa-power-off"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="nav-col">
                    <section id="col-left" class="col-left-nano">
                        <div id="col-left-inner" class="col-left-nano-content">
                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                <ul class="nav nav-pills nav-stacked">
                                    @*<li>
                                            <a href="#" class="dropdown-toggle">
                                                <i class="fa fa-list-ol"></i>
                                                <span>Tareas</span>
                                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a onclick="document.location.href = $.url('Tasks/MyGroupTasks/')" href="#">Tareas de mi grupo</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('Tasks/MyTasks/')" href="#">Mis Actividades</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-toggle">
                                                <i class="fa fa-cogs"></i>
                                                <span>Administración</span>
                                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a onclick="document.location.href = $.url('User/Index/')" href="#">Usuarios</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('Activity/Index/')" href="#">Tipos de actividades</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('Application/Index/')" href="#">Aplicaciones</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('Client/Index/')" href="#">Clientes</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('Group/Index/')" href="#">Grupos</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('Profile/Index/')" href="#">Perfiles de usuario</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('TaskStatus/Index/')" href="#">Estados de las tareas</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('TaskType/Index/')" href="#">Tipos de tareas</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('WorkArea/Index/')" href="#">Áreas de trabajo</a>
                                                </li>
                                                <li>
                                                    <a onclick="document.location.href = $.url('CaseType/Index/')" href="#">Tipos de casos</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-toggle">
                                                <i class="fa fa-print"></i>
                                                <span>Reportes</span>
                                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">Reporte 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Reporte 2</a>
                                                </li>
                                            </ul>
                                        </li>*@

                                    <li>
                                        <a onclick="document.location.href = $.url('Clients/Index/')" href="#">
                                            <i class="fa fa-user-circle"></i>
                                            <span>Administración Cliente</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a onclick="document.location.href = $.url('ClientsFilter/ClientsFilter/')" href="#">
                                            <i class="fa fa-list-ol"></i>
                                            <span>Búsqueda Clientes</span>
                                        </a>
                                    </li>

                                    @*<li>
                                            <a id="menuTemplateManage" href="#">
                                                <i class="fa fa-cogs"></i>
                                                <span>Administración Plantilla</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="menuTemplateList" href="#">
                                                <i class="fa fa-list-ol"></i>
                                                <span>Lista Plantillas</span>
                                            </a>
                                        </li>*@

                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="content-wrapper">
                    <div id="content-messages"></div>
                    @RenderBody()
                    <footer id="footer-bar" class="row">
                        <p id="footer-copyright" class="col-xs-12">
                            &copy; @DateTime.Now.Year <a href="http://www.teleperformance.co/" target="_blank">Teleperformance Colombia.</a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    @*<div id="config-tool" class="closed">
            <a id="config-tool-cog">
                <i class="fa fa-cog"></i>
            </a>

            <div id="config-tool-options">
                <h4>Opciones de Presentación</h4>
                <ul>
                    <li>
                        <div class="checkbox-nice">
                            <input type="checkbox" id="config-fixed-header" />
                            <label for="config-fixed-header">
                                Encabezado fijo
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-nice">
                            <input type="checkbox" id="config-fixed-sidebar" />
                            <label for="config-fixed-sidebar">
                                Menú izquierdo fijo
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-nice">
                            <input type="checkbox" id="config-fixed-footer" />
                            <label for="config-fixed-footer">
                                Pie de página fijo
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-nice">
                            <input type="checkbox" id="config-boxed-layout" />
                            <label for="config-boxed-layout">
                                Contenido en marco
                            </label>
                        </div>
                    </li>
                </ul>
                <br />
                <h4>Colores de tema</h4>
                <ul id="skin-colors" class="clearfix">
                    <li>
                        <a class="skin-changer" data-skin="" data-toggle="tooltip" title="Por Defecto" style="background-color: #34495e;">
                        </a>
                    </li>
                    <li>
                        <a class="skin-changer" data-skin="theme-white" data-toggle="tooltip" title="Blanco/Verde" style="background-color: #2ecc71;">
                        </a>
                    </li>
                    <li>
                        <a class="skin-changer blue-gradient" data-skin="theme-blue-gradient" data-toggle="tooltip" title="Azul Gradiente">
                        </a>
                    </li>
                    <li>
                        <a class="skin-changer" data-skin="theme-turquoise" data-toggle="tooltip" title="Verde Mar" style="background-color: #1abc9c;">
                        </a>
                    </li>
                    <li>
                        <a class="skin-changer" data-skin="theme-amethyst" data-toggle="tooltip" title="Amatista" style="background-color: #9b59b6;">
                        </a>
                    </li>
                    <li>
                        <a class="skin-changer" data-skin="theme-blue" data-toggle="tooltip" title="Azul" style="background-color: #2980b9;">
                        </a>
                    </li>
                    <li>
                        <a class="skin-changer" data-skin="theme-red" data-toggle="tooltip" title="Rojo" style="background-color: #e74c3c;">
                        </a>
                    </li>
                    <li>
                        <a class="skin-changer" data-skin="theme-whbl" data-toggle="tooltip" title="Blanco/Azul" style="background-color: #3498db;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@

    <script src="~/Scripts/demo-skin-changer.js"></script>
    <script>

        $(document).ready(function () {
            customSelect();

            //$('#menuTemplateList').on('click', function () {
            //    document.location.href = $.url('TemplateList/List/')
            //});

            //$('#menuTemplateManage').on('click', function () {
            //    document.location.href = $.url('TemplateManage/Manage/')
            //});
        });

        window.error = function (msg) {
            var dom = '<div class="top-alert"><div class="alert alert-danger alert-dismissible fade in " role="alert"><i class="fa fa-exclamation-circle"></i> ' + msg + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div></div>';
            var jdom = $(dom);
            jdom.hide();
            $("#content-messages").append(jdom);
            jdom.fadeIn();
            setTimeout(function () {
                jdom.fadeOut(function () {
                    jdom.remove();
                });
            }, 6000);
        };
        window.warning = function (msg) {
            var dom = '<div class="top-alert"><div class="alert alert-warning alert-dismissible fade in " role="alert"><i class="fa fa-question-circle"></i> ' + msg + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div></div>';
            var jdom = $(dom);
            jdom.hide();
            $("#content-messages").append(jdom);
            jdom.fadeIn();
            setTimeout(function () {
                jdom.fadeOut(function () {
                    jdom.remove();
                });
            }, 6000);
        };
        window.info = function (msg) {
            var dom = '<div class="top-alert"><div class="alert alert-info alert-dismissible fade in " role="alert"><i class="fa fa-info-circle"></i> ' + msg + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div></div>';
            var jdom = $(dom);
            jdom.hide();
            $("#content-messages").append(jdom);
            jdom.fadeIn();
            setTimeout(function () {
                jdom.fadeOut(function () {
                    jdom.remove();
                });
            }, 6000);
        };
        window.success = function (msg) {
            var dom = '<div class="top-alert"><div class="alert alert-success alert-dismissible fade in " role="alert"><i class="fa ckeck-circle"></i> ' + msg + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div></div>';
            var jdom = $(dom);
            jdom.hide();
            $("#content-messages").append(jdom);
            jdom.fadeIn();
            setTimeout(function () {
                jdom.fadeOut(function () {
                    jdom.remove();
                });
            }, 6000);
        };
        window.errorlong = function (msg) {
            var dom = '<div class="top-alert"><div class="alert alert-danger alert-dismissible fade in text-left-xs " role="alert"><i class="fa fa-exclamation-circle"></i> ' + msg + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div></div>';
            var jdom = $(dom);
            jdom.hide();
            $("#content-messages-long").append(jdom);
            jdom.fadeIn();
            setTimeout(function () {
                jdom.fadeOut(function () {
                    jdom.remove();
                });
            }, 6000);
        };


        $.url = function (url) {
            var path = '@Request.ApplicationPath'
            if (path != '/') path = path + '/'
            return path + url;
        }
        $.urltag = function (url, tag) {
            var path = '@Request.ApplicationPath';
            if (path != '/') path = path + '/'
            $.ajax({
                method: "GET",
                url: $.url("Account/SetTagID/"),
                data: { tagId: tag }
            });
            return path + url;
        }

        function customSelect() {
            $('.mSelect2').each(function () {
                $(this).select2({
                    //"dropdownCssClass": "widthFix",
                    placeholder: "--Seleccione--",
                    width: '100%',
                });
            });
        }

        $.fn.datepicker.dates['es'] = {
            days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
            daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
            daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
            months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
            today: "Hoy"
        };

        $('body').removeClass('theme-white');
        $('body').addClass('theme-blue');
    </script>


</body>
</html>
